*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   :root{ 
    --boss: rgb(160, 160, 160); 
    --colors: rgb(210, 198, 198); 
   }  
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }

*{
    font-family: 'Comfortaa';
}

:root{

    --blue: rgb(0,157,255);
    --yellow: rgb(255, 255, 61);
}

.main__box{
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 50px auto;
}

.BMI__box{

width: 500px;
height: 600px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 2px 2px 20px 7px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
align-items: center;
}

.BMI__result{
    width: 500px;
height: 600px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
box-shadow: 2px 2px 20px 7px rgba(0, 0, 0, 0.25);
display: none;
flex-direction: column;
align-items: center;
}


.title {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bolder;

}


input{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 20px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 400px;
    height: 75px;
    color: #0029FF;
text-align: center;
font-family: Comfortaa;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 35px;

}


.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}

.input__box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.weight {

    width: 185px;
    border: 0;
}
.height {
  
    width: 185px;
    border: 0;
}
.name {
  
    width: 400px;
    border: 0;
}
.count {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    margin: 10px auto;
    margin-bottom: 0;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
}
.restart{
    margin-top: 125px!important;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    margin: 10px auto;
    margin-bottom: 0;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
}
.count:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--blue);
}


.BMI{
    margin-top: 150px;
text-align: center;
font-family: Comfortaa;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}







.Bot__button{
    position: fixed;
    bottom: 50px;
    right: 50px;
   animation: bot 3s linear infinite alternate-reverse; 
}

@keyframes bot {
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}




@media (max-width: 800px)  {
    .main__box{
        justify-content: center;
    }
    .left__box{
        display: none;
    }
    
}
@media (max-width: 500px)  {
    input{
        height: 50px;
        
    }
    .weight {

        width: 150px;
        border: 0;
    }
    .height {
      
        width: 150px;
        border: 0;
    }
    .input__box{
        padding: 5px;
       
    }
    .name, .fname {
      margin: 0px auto;
        width: 350px;
        border: 0;
    }
    .BMI__box, .BMI__result{
        max-width: 400px;
        height: auto;
        padding-bottom: 20px;
    }
    .restart, .count{
        width: 350px;
    }
    
}
@media (max-width: 415px)  {
    input{
        height: 40px;
        font-size: 16px;
    }
    .weight {

        width: 100px;
        border: 0;
    }
    .height {
      
        width: 100px;
        border: 0;
    }
    .input__box{
        padding: 5px;
       
    }
    .name, .fname {
      margin: 0px auto;
        width: 250px;
        border: 0;
    }
    .BMI__box, .BMI__result{
        max-width: 300px;
        height: auto;
        padding-bottom: 20px;
    }
    .restart, .count{
        width: 250px;
    }
    
}